/* Some CSS! */
img {
  width: 260px;
}

.arena {
  width: 100%;
  height: 180px;
  background-color: #1d373d;
  background-image: url("img/arena-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 35vh;
  visibility: hidden;
}

.btn-prefight {
  width: 100% !important;
}
